#DivPizarra{
  width: 88%;
  height: 900px;
  margin: 6%;
  margin-top: 5px;
  background-image: url(./img/pizzarra.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
 
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}



#DivToDo{
  width: 300px;
}
.cont{
  font-size: 200%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

body{
  background-image: url(./img/a.png);
  background-size: cover;
}