#huevos{
  width: 88%;
  height: 900px;
  margin: 6%;
  margin-top: 15px;
  background-image: url(./img/pizzarra.jpg);
  background-size:contain;
  background-repeat: no-repeat;
}
#huevos img{
  width:100%;
  height:auto;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#caca{
  width: 300px;
}
.cont{
  display: flex;
  justify-content: center;
  background-size: 572px;
}

body{
  background-image: url(./img/a.png);
  background-size: cover;
}